---
import { author } from '../../lib/author';
---

<header class="site-header" id="top">
  <nav class="site-nav" aria-label="Навигация по сайту">
    <a
      class="site-back-link"
      href="/"
      data-analytics-event="nav_click"
      data-analytics-section="header"
      data-analytics-content-type="navigation"
    >{author.name}</a>
  </nav>
</header>
