---
import { getCollection, render } from 'astro:content';
import CareerTimelineItem from '../components/CareerTimelineItem.astro';
import PageIntro from '../components/PageIntro.astro';
import PageLayout from '../layouts/PageLayout.astro';
import { sortCareerEntries } from '../lib/career';
import { getPageContent } from '../lib/pages';

const { page, Content: PageContent, hasContent } = await getPageContent('career');
const careerEntries = sortCareerEntries(await getCollection('career'));
const timeline = await Promise.all(careerEntries.map(async (career) => ({
  career,
  Content: (await render(career)).Content,
})));
---

<PageLayout title={page.data.title} description={page.data.description} class="career-page">
  {page.data.intro && <PageIntro text={page.data.intro} />}
  {hasContent && (
    <div class="page-body">
      <PageContent />
    </div>
  )}
  <ol class="career-timeline">
    {timeline.map(({ career, Content }) => (
      <CareerTimelineItem career={career}>
        <Content />
      </CareerTimelineItem>
    ))}
  </ol>
</PageLayout>
