---
import PageLayout from '../layouts/PageLayout.astro';
import { getPageContent } from '../lib/pages';

const { page, Content } = await getPageContent('manifesto');
---

<PageLayout
  title={page.data.title}
  documentTitle={`${page.data.title} Бориса Евдеева`}
  description={page.data.description}
  intro={page.data.intro}
  class="manifesto-page"
  noindex
>
  <div class="page-body">
    <Content />
  </div>
</PageLayout>
