---
import { typografText } from '../lib/typography.mjs';

interface Props {
  text?: string;
}

const { text } = Astro.props;
---

<div class="article-lead">
  {text ? <p>{typografText(text)}</p> : <slot />}
</div>
